<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Access Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    {% if not user.is_authenticated %}
        <h3>Welcome to Access Control</h3>
        <a href='/signin'>Signin</a>
        <br>
        <a href='/signup'>Don't have an account? SIGNUP</a>
        <br>
        <a href='/reset_password'>Forgot password?</a>
    {% else %}
        <!-- Content for authenticated users goes here -->
        <h2>Hello, {{ user.first_name }}</h2>
        {% if access_key_instance is None %}
        <h3>Welcome to the Access Key generating site. Click the link below to buy your access key.</h3>
        <a href="/generate_access_key" class="btn btn-primary">Buy Now!</a><br/><br/>
        <a href='/signout'>Signout</a>
        {% else %}
            <p>Your access key is: <span id="access-key">{{ access_key_instance}}</span></p>
            <p>This Key was Created: <span id="created-at">{{ created_at }}</span></p>
            <p>This Key Expires: <span id="expiration-date">{{ expiration_date }}</span></p>
            <p>This Status of this Key is : <span id="is-active">{{ is_active }}</span></p>
            <button onclick="copyToClipboard()">Copy Access Key</button>
            <a href='/signout'>Signout</a>
        {% endif %}
    {% endif %}

    <script>
        function copyToClipboard() {
            var accessKeyElement = document.getElementById("access-key");
            if (accessKeyElement) {
                var range = document.createRange();
                range.selectNode(accessKeyElement);
                window.getSelection().removeAllRanges(); // Clear current selection
                window.getSelection().addRange(range); // Select text
                document.execCommand("copy"); // Copy selected text to clipboard
                window.getSelection().removeAllRanges(); // Clear selection again
                alert("Access key copied to clipboard!");
            }
        }
    </script>
</body>
</html>
