<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login into Access Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <h3>Welcome to Access Control</h3>

    {% if user.is_authenticated %}
        <h2>Hello, {{ user.first_name }}</h2>
        <a href='/signout'>Signout</a>
    {% else %}
        <a href='/signin'>Signin</a>
        <a href='/signup'>Don't have an account? SIGNUP</a>
    {% endif %}

    <script src="" async defer></script>
</body>
</html>
